{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
  },

  "plugins": [
    "react"
  ],

  "rules": {
    "react/jsx-no-bind": 2,
    "react/no-did-update-set-state": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "no-unused-vars": 2,
    "no-undef": 2,
    semi: ["error", "always", { "omitLastInOneLineBlock": true}]
  }
}
